﻿*, *::after, *::before {
    box-sizing: border-box;
}

:root {
    --brand-hue: 166;
    --brand-saturation: 100%;
    --brand-lightness: 50%;
    --brand-light: hsl(var(--brand-hue) var(--brand-saturation) var(--brand-lightness));
    --text1-light: hsl(var(--brand-hue) var(--brand-saturation) 10%);
    --text2-light: hsl(var(--brand-hue) 30% 30%);
    --surface1-light: hsl(var(--brand-hue) 25% 90%);
    --surface2-light: hsl(var(--brand-hue) 20% 99%);
    --surface3-light: hsl(var(--brand-hue) 20% 92%);
    --surface4-light: hsl(var(--brand-hue) 20% 85%);
    --surface-shadow-light: var(--brand-hue) 10% calc(var(--brand-lightness) / 5);
    --shadow-strength-light: .02;
    --brand-dark: hsl(var(--brand-hue) calc(var(--brand-saturation) / 2) calc(var(--brand-lightness) / 1.5));
    --text1-dark: hsl(var(--brand-hue) 15% 85%);
    --text2-dark: hsl(var(--brand-hue) 5% 65%);
    --surface1-dark: hsl(var(--brand-hue) 10% 10%);
    --surface2-dark: hsl(var(--brand-hue) 10% 15%);
    --surface3-dark: hsl(var(--brand-hue) 5% 20%);
    --surface4-dark: hsl(var(--brand-hue) 5% 25%);
    --surface-shadow-dark: var(--brand-hue) 50% 3%;
    --shadow-strength-dark: .8;
    color-scheme: light;
    --brand: var(--brand-light);
    --text1: var(--text1-light);
    --text2: var(--text2-light);
    --surface1: var(--surface1-light);
    --surface2: var(--surface2-light);
    --surface3: var(--surface3-light);
    --surface4: var(--surface4-light);
    --surface-shadow: var(--surface-shadow-light);
    --shadow-strength: var(--shadow-strength-light);
}

@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;
        --brand: var(--brand-dark);
        --text1: var(--text1-dark);
        --text2: var(--text2-dark);
        --surface1: var(--surface1-dark);
        --surface2: var(--surface2-dark);
        --surface3: var(--surface3-dark);
        --surface4: var(--surface4-dark);
        --surface-shadow: var(--surface-shadow-dark);
        --shadow-strength: var(--shadow-strength-dark);
    }
}

#terminal {
    --rows: 25;
    --row-height: 16px;
    --col-width: 1ch;
    --cols: 80;
    --normal-saturation: 50%;
    --bright-saturation: 100%;
    background-color: var(--surface1);
    border-radius: 1em;
    border: thin solid var(--surface3);
    color: var(--text1);
    display: grid;
    font-family: 'Lucida Console', monospace;
    font-size: var(--row-height);
    grid-template-columns: repeat(var(--cols), var(--col-width));
    grid-template-rows: repeat(var(--rows), var(--row-height));
    height: calc(var(--rows) * var(--row-height) + 4em + 2px);
    margin: 1em;
    padding: 2em;
    width: calc(var(--cols) * var(--col-width) + 4em + 2px);
}

    #terminal div {
        background-color: var(--surface1);
        color: var(--text1);
        display: flex;
        height: var(--row-height);
        overflow: hidden;
        place-items: center start;
        width: var(--col-width);
    }
